.bc-input-outlined {
  --bc-input-color: #000000;
  --bc-input-border-width: 1px;
  --bc-input-background-color: #ffffff;
  --bc-input-border-color: var(--color-neutral-medium-1);
  --bc-input-border-top-color: transparent;
  --bc-input-label-color: var(--color-neutral-medium-1);
  --pointer-events: auto;
  --bc-input-border-radius: 12px;

  width: 100%;
  height: 54px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-family: var(--font-regular, 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui, -apple-system);
  font-size: 16px;
  line-height: 1.5;

  input::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  input:focus::placeholder {
    opacity: 1;
  }
}

.suffix,
.prefix {
  position: absolute;
  display: flex;
  align-items: center;
  top: 5px;
  bottom: 0;
  padding: 0 10px;
  pointer-events: var(--pointer-events);

  &:is(:empty) {
    display: none;
  }
}

.suffix {
  right: 0;

  &:not(:empty) {
    + input {
      padding-right: 30px;
    }
  }
}

.prefix {
  &:not(:empty) {
    ~ input {
      padding-left: 30px;

      &:not(:focus):placeholder-shown + .borders {
        .bottom-border {
          .label {
            padding-left: 18px;
          }
        }
      }
    }
  }
}

/* Input */
.bc-input-outlined > input {
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 14px 11px 10px;
  width: 100%;
  height: inherit;
  color: var(--bc-input-color);
  -webkit-text-fill-color: currentColor;
  background-color: var(--bc-input-background-color);
  box-shadow: inset 1px 0 transparent, inset -1px 0 transparent, inset 0 -1px transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: var(--bc-input-border-radius);
  transition: border 0.2s, box-shadow 0.2s;

  &:not(:placeholder-shown) {
    --bc-input-border-color: var(--color-neutral-dark-3);
  }
}

.bc-input-outlined > input:not(:focus):placeholder-shown {
  --bc-input-border-top-color: var(--bc-input-border-color);
}

.bc-input-outlined > input:not(:focus):placeholder-shown + .borders {
  .bottom-border {
    border-top: solid 1px var(--bc-input-border-color);
    .label {
      font-size: inherit;
      line-height: 57px;
    }
  }
}

.bc-input-outlined > input:not(:placeholder-shown) + .borders {
  .bottom-border {
    .label {
      --bc-input-label-color: var(--color-neutral-dark-3);
    }
  }
}

/* Focus */
.bc-input-outlined > input:focus {
  outline: none;

  &:not(:read-only) {
    + .borders {
      --bc-input-border-color: var(--color-secondary);
      --bc-input-border-width: 2px;
    }
  }
}

.bc-input-outlined > input:focus + .borders {
  .bottom-border {
    .label {
      --bc-input-label-color: var(--color-secondary);
    }
  }
}

/* Disabled */
.bc-input-outlined > input:disabled,
.bc-input-outlined > input:disabled + .borders {
  --bc-input-color: var(--color-neutral-medium-1);
  --bc-input-background-color: var(--color-input-disabled);
  --bc-input-border-color: var(--color-neutral-medium-2);

  .bottom-border {
    .label {
      --bc-input-label-color: var(--color-neutral-medium-2);
      pointer-events: none;
    }
  }
}

/** readonly */
.bc-input-outlined > input:read-only,
.bc-input-outlined > input:read-only + .borders {
  --bc-input-color: var(--color-neutral-medium-1);

  .bottom-border {
    .label {
      --bc-input-border-color: var(--color-neutral-medium-1);
      --bc-input-label-color: var(--color-neutral-medium-1);
    }
  }
}

/*** borders ***/
.borders {
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;

  .left-border,
  .right-border,
  .bottom-border,
  .top-border {
    box-sizing: border-box;
    height: inherit;
  }

  .left-border {
    width: 10px;
    border: solid var(--bc-input-border-width) var(--bc-input-border-color);
    border-right: none;
    border-top-left-radius: var(--bc-input-border-radius);
    border-bottom-left-radius: var(--bc-input-border-radius);
  }

  .right-border {
    width: 20px;
    border: solid var(--bc-input-border-width) var(--bc-input-border-color);
    border-left: none;
    border-top-right-radius: var(--bc-input-border-radius);
    border-bottom-right-radius: var(--bc-input-border-radius);
  }

  .bottom-border {
    padding-left: 3px;
    padding-right: 3px;
    border: none;
    border-bottom: solid var(--bc-input-border-width) var(--bc-input-border-color);

    .label {
      display: flex;
      color: var(--bc-input-label-color);
      font-size: 75%;
      line-height: 2px;
      cursor: text;
      transition: color 0.2s, font-size 0.2s, line-height 0.2s;
    }
  }

  .top-border {
    display: block;
    flex-grow: 1;
    border: solid var(--bc-input-border-width) var(--bc-input-border-color);
    border-left: none;
    border-right: none;
  }
}
