<div class="items" [formGroup]="form">
  <bc-control-messages [control]="form.get('input1')">
    <bc-input formControlName="input1">
      <span input-label>Textfield</span>
    </bc-input>
  </bc-control-messages>

  <bc-input formControlName="input4" [isReadOnly]="true">
    <span input-label>Textfield</span>
    <span suffix (click)="onClickSuffix()">%</span>
  </bc-input>

  <bc-input formControlName="input2" placeholder="Placeholder" [isReadOnly]="true">
    <span prefix>@</span>
    <span input-label>Textfield</span>
    <span suffix (click)="onClickSuffix()">%</span>
  </bc-input>

  <bc-input formControlName="input3">
    <span input-label>Textfield</span>
  </bc-input>

  <bc-input formControlName="input1">
    <span prefix>@</span>
    <span input-label>Textfield</span>
  </bc-input>

  <bc-input formControlName="input1">
    <span input-label>Textfield</span>
    <span suffix>$</span>
  </bc-input>

  <bc-input formControlName="input1">
    <span prefix>@</span>
    <span input-label>Textfield</span>
    <span suffix>%</span>
  </bc-input>
</div>

<br />
<br />
<button class="bc-button bc-button--primary" (click)="handleClick()">Save</button>
