:root {
  --color-primary: #fb0019;
  --color-primary-disabled: #ffcfd4;
  --color-secondary: #640ab0;
  --color-secondary-disabled: rgba(100, 10, 176, 0.2);
  --color-neutral-medium-1: #999999;
  --color-neutral-medio-2: #cccccc;
  --color-neutral-oscuro-3: #4d4d4d;
  --color-input-disabled: #f8f8f8;
  --color-error: #ff134c;
}
