<div class="container">
  <div class="sidebar">
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/buttons">Buttons</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/inputs">Inputs</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/checkbox">Checkbox</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/select">Select</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/switch">Switch</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/modals">Modals</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/sliders">Sliders</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/otp-input">OTP Input</a>
      </li>

      <li>
        <a routerLinkActive="active" routerLink="/spinner">Spinner</a>
      </li>
    </ul>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

