<div class="items" [formGroup]="form">
<!--  <bc-control-messages [control]="form.get('input1')">-->
    <bc-input>
      <input type='text' formControlName="input1" placeholder=' '>
      <span label>Textfield</span>
    </bc-input>
<!--  </bc-control-messages>-->

  <bc-input>
    <input type='text' formControlName="input2" placeholder=' '>
    <span label>Textfield</span>
    <span suffix (click)="onClickSuffix()">%</span>
  </bc-input>

  <bc-input>
    <span prefix>@</span>
    <input type='text' formControlName="input3" placeholder='Placeholder'>
    <span label>Textfield</span>
    <span suffix (click)="onClickSuffix()">%</span>
  </bc-input>

</div>

<br />
<br />
<button class="bc-button bc-button--primary" (click)="handleClick()">Save</button>
