<bc-slider>
  <img prev src='./assets/images/svg/arrow-left.svg' alt='prev'>

  <swiper-slide>
    <div class='card'>Slide 1</div>
  </swiper-slide>
  <swiper-slide>
    <div class='card'>Slide 2</div>
  </swiper-slide>
  <swiper-slide>
    <div class='card'>Slide 3</div>
  </swiper-slide>

  <swiper-slide>
    <div class='card'>Slide 4</div>
  </swiper-slide>

  <swiper-slide>
    <div class='card'>Slide 5</div>
  </swiper-slide>

  <img next src='./assets/images/svg/arrow-right.svg' alt='next'>
</bc-slider>

