// https://codepen.io/miniven/pen/ZJydge

:host {
  width: 100%;
}

.select-box {
  --bc-select-color: #000000;
  --bc-select-border-color: var(--color-neutral-medium-1);
  --bc-select-placeholder-color: var(--color-neutral-medium-1);

  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 16px;
  color: var(--bc-select-color);
  box-sizing: border-box;
  height: 51px;

  &.is-disabled {
    pointer-events: none;
    --bc-select-color: var(--color-neutral-medium-2);
    .select-box__current {
      --bc-select-border-color: var(--color-neutral-medium-2);
      .placeholder {
        --bc-select-placeholder-color: var(--color-neutral-medium-2);
      }
    }
  }

  &__current {
    position: relative;
    cursor: pointer;
    outline: none;
    height: inherit;
    border: 1.5px solid var(--bc-select-border-color);
    border-radius: 12px;

    &:hover {
      --bc-select-border-color: var(--color-neutral-dark-3);
    }

    &.has-value {
      --bc-select-border-color: var(--color-neutral-dark-3);

      .placeholder {
        --bc-select-placeholder-color: var(--color-neutral-dark-3);
        top: 0;
        padding: 0 5px;
        font-size: 12px;
      }
    }

    .placeholder {
      font-family: var(--font-regular, 'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui, -apple-system);
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      color: var(--bc-select-placeholder-color);
      background: white;
      transition: all 0.2s ease;
    }

    &:focus {
      --bc-select-border-color: var(--color-secondary);

      .placeholder {
        --bc-select-placeholder-color: var(--color-secondary);
      }

      & + .select-box__list {
        opacity: 1;

        animation-name: none;

        .select-box__option {
          cursor: pointer;
        }
      }

      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }

      .placeholder {
        top: 0;
        padding: 0 5px;
        font-size: 12px;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 12px;
    transition: 0.2s ease;
  }

  &__value {
    display: flex;
  }

  &__input {
    display: none;

    &:checked + .select-box__input-text {
      display: block;
    }
  }

  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
    border-radius: 12px;
  }

  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    margin-top: 3px;
    z-index: 1;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__option {
    display: block;
    padding: 15px;
    background-color: #fff;

    &:hover,
    &:focus {
      color: #212121;
      background-color: #d9d9d9;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
