<div class="select-box" [class.is-disabled]="disabled">
  <div class="select-box__current" tabindex="1" [class.has-value]="selectedValue">
    <span class="placeholder">{{ placeholder }}</span>
    <ng-container *ngFor="let item of items; index as i">
      <div class="select-box__value">
        <input
          class="select-box__input"
          type="radio"
          [(ngModel)]="selectedValue"
          (ngModelChange)="onSelect(value ? item[value] : item)"
          [id]="inputName + i"
          [value]="value ? item[value] : item"
          [name]="inputName"
        />
        <p class="select-box__input-text">{{ label ? item[label] : item }}</p>
      </div>
    </ng-container>
    <i class="select-box__icon icon-chevron-down"></i>
  </div>
  <ul class="select-box__list">
    <ng-container *ngFor="let item of items; index as i">
      <li>
        <label class="select-box__option" [for]="inputName + i" aria-hidden="true">{{
          label ? item[label] : item
        }}</label>
      </li>
    </ng-container>
  </ul>
</div>
