<div class="select" [formGroup]="form">
  <bc-select [items]="items" formControlName="input1" label="name" value="id" placeholder="Normal"> </bc-select>

  <bc-select [items]="items" formControlName="input2" label="name" value="id" placeholder="Normal"> </bc-select>

  <bc-select [items]="items" formControlName="input3" label="name" value="id" placeholder="Disabled"> </bc-select>

  <bc-select [items]="items" formControlName="input4" label="name" value="id" placeholder="Disabled"> </bc-select>
</div>
