<div class="buttons">
  <button class="bc-button">bc-button</button>
  <button class="bc-button" [disabled]="true">bc-button disabled</button>
  <button class="bc-button btn-sm">bc-button btn-sm</button>
  <button class="bc-button btn-md">bc-button btn-md</button>
</div>

<div class="buttons">
  <button class="bc-button bc-button--primary">bc-button bc-button--primary</button>
  <button class="bc-button bc-button--primary" [disabled]="true">bc-button bc-button--primary disabled</button>
  <button class="bc-button bc-button--primary-outline">bc-button bc-button--primary-outline</button>
  <button class="bc-button bc-button--primary-outline" [disabled]="true">bc-button bc-button--primary-outline</button>
</div>

<div class="buttons">
  <button class="bc-button bc-button--secondary">bc-button bc-button--secondary</button>
  <button class="bc-button bc-button--secondary" [disabled]="true">bc-button bc-button--secondary disabled</button>
  <button class="bc-button bc-button--secondary-outline">bc-button bc-button--secondary-outline</button>
  <button class="bc-button bc-button--secondary-outline" [disabled]="true">
    bc-button bc-button--secondary-outline
  </button>
</div>

<div class="buttons">
  <button class="bc-button bc-button--link">bc-button bc-button--link</button>
</div>
