<label class="bc-input-outlined">
  <span class="prefix">
    <ng-content select="[prefix]"></ng-content>
  </span>
  <span class="suffix">
    <ng-content select="[suffix]"></ng-content>
  </span>

  <ng-content />

  <span class='borders'>
    <span class='left-border'></span>
    <span class='bottom-border'>
      <span class="label">
        <ng-content select="[label]"></ng-content>
      </span>
    </span>
    <span class='top-border'></span>
    <span class='right-border'></span>
  </span>
</label>
